@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700;900&display=swap');

html {
  scroll-behavior: smooth;
}

@theme {
  --font-sans: 'Space Grotesk', sans-serif;

  --animate-reveal: reveal 1.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  @keyframes reveal {
    from {
      transform: translateY(30px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

body {
  font-family: var(--font-sans);
  cursor: none;
  background: #F8FAFC;
}

.outline-text {
  transition: all 0.7s cubic-bezier(0.16, 1, 0.3, 1);
}

::-webkit-scrollbar {
  width: 0px;
}